.formulaire {
  margin-top: 5%;
  display: flex;
  font-size: 36px;
  justify-content: center;

  input {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 26px;
    width: 100%;
    min-height: 5%;
  }

  button {
    color: rgb(9, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 9%;
    width: 100%;

    border-radius: 30px;
    font-size: 36px;
    margin-top: 25%;
  }
}
