.navbar {
  display: flex;

  height: 10dvh;
  list-style: none;
  font-size: 24px;

  ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    li {
      display: flex;
      margin-left: 5%;
      align-items: center;
      width: 30%;
      color: rgb(2, 2, 2);
      a {
        text-decoration: none;
        color: rgb(4, 4, 4);
      }
    }
  }
}
